@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

// */


.complete{
    text-decoration: line-through;
    opacity:0.4;
}

.hide{
    display:none;
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
    background-color: #fff
}

.custom-container{
    width:90%;
    margin:auto;
}

#app{
    width:75%;
    margin:auto;
    
    margin-top: 100px;
    
}

ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
  }

  .fa-times{
      color:red;
  
  }

  .counter{
      text-align:center;
  }